



.hljs-comment {
  color: #8d8d8d;
}


.hljs-quote {
  color: #b3c7d8;
}


.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6666;
}


.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-subst
.hljs-link {
  color: #de935f;
}


.hljs-attribute {
  color: #f0c674;
}


.hljs-string,
.hljs-bullet,
.hljs-params,
.hljs-addition {
  color: #b5bd68;
}


.hljs-title,
.hljs-meta,
.hljs-section {
  color: #81a2be;
}


.hljs-selector-tag,
.hljs-keyword,
.hljs-function,
.hljs-class {
  color: #be94bb;
}


.hljs-symbol {
  color: #dbc4d9;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #303030;
  color: #c5c8c6;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}








.hljs-comment {
  color: #8d8d8d;
}


.hljs-quote {
  color: #b3c7d8;
}


.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6666;
}


.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-subst
.hljs-link {
  color: #de935f;
}


.hljs-attribute {
  color: #f0c674;
}


.hljs-string,
.hljs-bullet,
.hljs-params,
.hljs-addition {
  color: #b5bd68;
}


.hljs-title,
.hljs-meta,
.hljs-section {
  color: #81a2be;
}


.hljs-selector-tag,
.hljs-keyword,
.hljs-function,
.hljs-class {
  color: #be94bb;
}


.hljs-symbol {
  color: #dbc4d9;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #303030;
  color: #c5c8c6;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}




